/* Default */ 

html, body {
    width:100%;
    height: 100%;
    min-width: none;    

    margin: 0;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 6px;  /* width of the entire scrollbar */    
    margin-right: 15px;
}
  
html::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */       
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: rgb(33, 37, 41);    /* color of the scroll thumb */
    border-radius: 20px;          /* roundness of the scroll thumb */
  }

main{
    margin: 0;
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.text-justify{
    text-align: justify;
}

.separador{
    display: none;
}

/* Background */

.videoBackground {
    position:fixed;
    z-index: -2;
}

.staticBackground {
    position:fixed;
    z-index: -2;

    width: 100%;
    height: 100%;

    /* background: rgb(33, 37, 41) url('../img/montanhas.png');
    background-size: cover; */
    opacity: 0.8;
}

/* Nav */

nav{
    /* filter: blur(10px); */
    backdrop-filter: blur(8px);
}

#offcanvasWithBothOptions{
    height: 100vh;
}
.linkAnimation {
    padding-left: 10px;
}
.linkAnimation:hover {
    text-decoration: underline;
}

/* Containers */

#sobremim, #tecnologias, #meusprojetos, #contato{
    min-height: 100%;
    height: auto;
}

.inicio{
    background: rgb(33, 37, 41) url('../img/montanhas.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#meusprojetos{
    background: rgb(33, 37, 41) url('../img/caverna_sub.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sobremim{
    background-color: rgb(0, 0, 0);
}
/* Inicio */

.imgUser{
    width: 350px;
}

.div-pessoal{
    width: 50px;
    height: 50px;
    margin: 20px 10px 0px 0px;
    border: 1px solid white;
    border-radius: 50px;

    transition: width 0.6s, background-color 0.4s;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pessoal:hover{
    width: 125px;
}

.small-pessoal{
    display: none;
    text-align: center;
    border-radius: 50px;    
}

.div-pessoal:hover .i-pessoal{
    display: none;
}

.div-pessoal:hover .small-pessoal{
    display: block;
    color: white;

    -webkit-animation: lyrics-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: lyrics-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* Tecnologias */

div.cardContainer > div{
    width: 45%;
}

span.page-link{
    cursor: pointer;
    padding: 5px 30px 5px 30px;
    text-overflow: hidden;
}

li.page-item:hover{
    cursor: pointer;
    background-color: rgba(9, 86, 199, 0.5);
}

.cardItem{
    transition: filter 0.5s;
}

.cardContainer{
    overflow-y: scroll;
    max-height: 350px;
}

.cardContainer::-webkit-scrollbar {
    width: 6px;  /* width of the entire scrollbar */    
    margin-right: 15px;
}
  
.cardContainer::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */       
  }
  
  .cardContainer::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    /* color of the scroll thumb */
    border-radius: 20px;          /* roundness of the scroll thumb */
  }

/* .cardContainer:hover .cardItem{
    filter: blur(2px);
}
.cardItem:hover {
    filter: blur(0px) !important;
} */

/* Meus Projetos */

#projetos{
    width: 650px;
    height: 600px;
    overflow: hidden;
    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

}

#carrousel{
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap; 

    transition: transform 0.5s ease-in-out;
    transform: translateX(0px);
}

.projeto{
    min-width: 550px; 
    height: 400px;

    display: flex;
    justify-content: end;
    align-items: flex-end;
    border-radius: 15px;
    margin: 0px 50px 0px 50px;
}

.projeto:nth-child(1){
    background: url('../img/urecycle.png') center center/cover no-repeat;
}

.projeto:nth-child(2){
    background: url('../img/retec.png') center center/cover no-repeat;
}

.projeto:nth-child(3){
    background: url('../img/jogo_velha.png') center center/cover no-repeat;
}

.textProjeto{
    overflow: hidden;
    width: 100%;
    height: 0px !important; 
    border-radius: 0px 0px 15px 15px;

    background-color: rgba(8, 8, 8, 0.5);
    backdrop-filter: blur(10px);
    transition: 0.4s height;
}

.projeto:hover .textProjeto{
    height: 50% !important; 
}

#languageProjeto a{
    margin-right: 10px;
}


/* Contato */

.a-redes{
    margin: 0px 20px 0px 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    transition: width 0.6s, background-color 0.4s;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.a-redes:hover{
    width: 200px;
    height: 50px;
}

.a-redes.a-insta{
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.a-redes.a-insta:hover{
    background: linear-gradient(to top right, #fed373, #f15245, #d92e7f, #9b36b7, #515ecf);
}

.a-redes.a-whats{
    background-color: rgb(37, 211, 102);
}

.a-redes.a-like{
    background-color: rgb(0, 122, 182);
}

.a-redes.a-tt{
    background-color: rgb(29, 161, 242);
}

.small-redes{
    display: none;
    text-align: center;
    border-radius: 50px;    
}

.a-redes:hover .i-redes{
    display: none;
}

.a-redes:hover .small-redes{
    display: block;
    color: white;
    letter-spacing: 1px;

    -webkit-animation: lyrics-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: lyrics-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


/* Media Queries */ 

@media (min-aspect-ratio: 16/9) {
    /* Background */

    .videoBackground {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    /* Background */

    .videoBackground { 
        width:auto;
        height: 100%;
    }
}

@media (max-width: 785px) {
    /* Default */ 
    
    .separador {
        display: block;
        background-color: rgb(88, 77, 137);
    }

    main{
        height: 100%;
    }

    /* Inicio */

    .imgUser{
        width: 200px;
    }

    /* Tecnologias */

    div.cardContainer > div{
        width: 100%;
    }

    span.page-link{
        padding: 5px 5px 5px 5px;
        text-overflow: ellipsis;
        width: auto;
    }

    #projetos{
        width: 350px;
    }

    .projeto{
        min-width: 350px;
        height: 250px; 
        margin: 0px 7px 0px 7px;
        border-radius: 15px;
    }

    /* Meus Projetos */

    .projeto:hover .textProjeto{
        height: 75% !important; 
    }

    .a-redes{
        margin: 5px 5px 5px 5px;
    }
}

/* Animations - KeyFrames */ 

/* @keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
} */

@keyframes lyrics-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* Animations - Classes */ 

.fadeIn{
    animation: fadeIn 1s ease 0s 1 normal forwards;
}


